* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border-radius: 8px;
}

.App {
	height: 100%;
}

.main-body {
	min-height: 90.48vh;
}

.messagesBox {
	height: 60vh;
	overflow-y: scroll;
}

.messages {
	display: flex;
	align-items: center;
	overflow-wrap: break-word;
}

.sent {
	flex-direction: row-reverse;
}

.sent .message {
	align-self: flex-end;
}

.received .message {
	background: #e5e5ea;
	color: black;
}

.message {
	max-width: 64vw;
	padding: 10px 20px;
	border-radius: 2.5rem;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #fff; /* lub inny kolor tła */
	z-index: 1000;
}

.header-text,
.header-text-dark,
.header-text-gold,
.header-text-light,
.header-text-light-right,
.description,
.ratings {
	color: white;
	border: solid;
	border-width: 0.01rem;
	border-color: white;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 5rem;
}

.description {
	border-top: none;
	border-bottom: none;
	border-width: 0.01rem;
	border-color: white;
}

.header-text-gold,
.ratings {
	color: gold;
}

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.progress-bar {
	width: 100%;
	height: 10px;
	background-color: #ccc;
	position: relative;
	margin-top: 5px;
}

.progress-fill {
	height: 100%;
	background-color: #4caf50;
}

@media (max-width: 600px) {
	.header-text-light {
		border-right: none;
		border-bottom: none;
	}

	.main-body {
		min-height: 80.48vh;
	}
}

.MuiButton-root {
	text-transform: capitalize !important;
}
